NEXT_PUBLIC_ALCHEMY_KEY=94k0xQgneHKvPGg8sOJk0LV-GJ8u1Nie
NEXT_PUBLIC_ALCHEMY_KEY_POLYGON=
NEXT_PUBLIC_PROVIDER_ENDPOINT=
NEXT_PUBLIC_CHAIN_ID=5
NEXT_PUBLIC_TOKENBOUND_ADDRESS=0x417121Abe2E5Ad6a115D09b9C79267d6537a73Bf
NEXT_PUBLIC_IMPLEMENTATION_ADDRESS=0xEF0F88Ff7b6c0D8a650202066c822A46AC30eA90
NEXT_PUBLIC_SALT=0
NEXT_PUBLIC_MAX_TOKEN_ID=15000
NEXT_PUBLIC_NXYZ_API_KEY=
NEXT_PUBLIC_NXYZ_ENDPOINT="https://api.n.xyz/api/v1"
#CUSTOM IMPLENTATION
NEXT_PUBLIC_NFT_ENDPOINT=
SENTRY_AUTH_TOKEN=